.left-side-bar
  .left-menu
    ul
      li
        .menu-link 
        a.left IQHome
      li
        .menu-link
        a.left Zdjecia
      li
        .menu-link 
        a.left Tablica
      li
        .menu-link 
        a.left Linkownia
      li
        .menu-link 
        a.left Projekty
      li
        .menu-link 
        a.left Chemia
      li
        .menu-link 
        a.left Logowanie
