.left-side-bar
  .left-menu
    ul
      li
        .menu-link 
        a IQHome
      li
        .menu-link
        a Zdjecia
      li
        .menu-link 
        a Tablica
      li
        .menu-link 
        a Linkownia
      li
        .menu-link 
        a Projekty
      li
        .menu-link 
        a Chemia
      li
        .menu-link 
        a Logowanie
