.div-page{
	height: 100%;
}
.left-side-bar{
	background-color:blue;
	width: 350px;
	float: left;

}
li {
	list-style: none;
	display: block;
	margin:30px;
}
.left-menu{
	background-color:aqua;
	padding: 2px;
}
a.left {
	position: relative;
	top:20px;
	left:60px;
}
.menu-link{
	position:absolute;
	width: 200px;
	height: 40px;
	transform: skewX( 45deg );
	background-color: cyan;
	box-shadow: -5px 5px 5px blue;
	margin: 10px;
	opacity: 0.5;
	display: block;
}
.menu-link:hover{
	background-color: aquamarine;
	margin: 10px;
	box-shadow: -10px 10px 5px darkturquoise;
	opacity: 1.0;
}
footer {
  height: 60px;
}
html,
body {
  height: 100%;
}
.content {
  margin-top: 40px;
  margin-bottom: 40px;
}
.alert {
  margin-top: 20px;
}
